!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/default.css')
		script(language='javascript', src='/socket.io/socket.io.js')
		script(language='javascript', src='/javascripts/jquery.js')
		script(language='javascript', src='/javascripts/jquery.event.drag.js')
		script(language='javascript', src='/javascripts/default.js')
	#wrapper
		body!= body